.card{
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2em;
  justify-content: space-around;
  & img {
    min-width: 250px;
    max-width: 250px;
    object-fit: cover;
    margin-bottom: 5px;
  }
}

.card-wapper{
  min-width: 320px;
  margin: 15px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 3px 3px 2px #21222228;
  text-align: center;
}

.add-button {
  & button {
    background-color: black;
    color: white;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
  }

  & button:hover {
    background-color: rgba(0, 0, 0, 0.645);
  }
}

.page-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  & button {
    background-color: black;
    color: white;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
  }

  & button:hover {
    background-color: rgba(0, 0, 0, 0.645);
  }
}
