@import "./home.scss";
@import "./nav.scss";

header {
  max-width: 100%;
}

body {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.card{
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2em;
  justify-content: space-around;
  & img {
    min-width: 250px;
    max-width: 250px;
    object-fit: cover;
    margin-bottom: 5px;
  }
}

.card-wapper{
  min-width: 320px;
  margin: 15px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 3px 3px 2px #21222228;
  text-align: center;
}
