//NAV

.nav-title {
  display: flex;
  justify-content: center;
  font-size: xxx-large;
  background-color: black;
  color: white;

  & h1 {
    margin: 0;
    margin-top: 20px;
  }
}

.nav-container {
  background-color: black;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;  
 
  & a {
    text-decoration: none;
    margin: 10px;
    font-size: 24px;
    color:white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
  }

  & a:hover { 
    color: grey;
  }

  & .nav-main {
    justify-content: flex-start;
  }
  
  & .logout-a {
    justify-content: flex-end;
  }
}
